---
layout: default
prism: true
---

<div class="container max-w-4xl mt-6  px-6">
    <div class="pb-5 mb-5 border-b border-gray-100">
        <h1 class="font-bold text-5xl">{{title}}</h1>
        <p class="text-center text-base leading-6 font-medium text-gray-500">
            <time> {{ date | readableDate }}
                by
                <a>{{ author }}</a>

            </time>
        </p>

    </div>
    <article class="prose lg:prose-xl my-4 mx-auto">
        {{ content | safe }}</article>

</div>
<script src='https://unpkg.com/split-type'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/ScrollTrigger/1.0.6/ScrollTrigger.min.js'></script>
<script src='https://cdn.jsdelivr.net/gh/studio-freight/lenis@latest/bundled/lenis.js'></script>
<script type='text/javascript'>
  const lenis = new Lenis({
      duration: 3,
      easing: (t) => (t === 1 ? 1 : 1 - Math.pow(2, -10 * t)),
  });
  
  function raf(time) {
    lenis.raf(time)
    requestAnimationFrame(raf)
  }
  
  requestAnimationFrame(raf)
  
  gsap.registerPlugin(ScrollTrigger);
  </script>
